* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #F6F6F6;
}
.container {
    width: 100vw;
    height: 70vh;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    background-blend-mode: multiply;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    font-size: 2.5em;
    margin-top: 4rem;
    position: absolute;
    top: 1%;
}

.container h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.9em;
    position: absolute;
    top: 18%;
}

.container a {
    padding: 7px 45px 7px 45px;
    color: #fff;
    text-decoration: none;
    background: rgb(218, 44, 44);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: absolute;
    top: 24%;
}

.container img {
    margin-top: 8no0px;
    height: 240px;
    width:  320px;
    position: absolute;
    top: 45%;
}

section.figures{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #000000;
}
.figures .up{
    font-size: 1rem;
    position: relative;
    margin-top: 40px;
}
.figures h3{
    font-size: 3rem;
    position: relative;
    margin-top: 40px;
    text-transform: uppercase;
}
.figures img{
    width: 300px;
}