* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #F6F6F6;
}
.container {
    width: 100vw;
    height: 70vh;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    background-blend-mode: multiply;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    font-size: 2.5em;
    margin-top: 4rem;
    position: absolute;
    top: 1%;
}

.container h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.9em;
    position: absolute;
    top: 21%;
}

.container a {
    padding: 7px 45px 7px 45px;
    color: #fff;
    text-decoration: none;
    background: rgb(218, 44, 44);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: absolute;
    top: 24%;
}

.container img {
    margin-top: 8no0px;
    height: 240px;
    width:  320px;
    position: absolute;
    top: 45%;
}

section.figures{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}
.info{  
    margin-top: 7rem;
}
.figures .up{
    text-align: center;
    font-size: 1rem;
}
.figures h3{
    font-size: 2.7rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-top: -10px;
    font-family: 'Roboto Slab', serif;
}
.figures p{
    margin: 20px 15px 0 15px;
    text-align: center;
}
.figures img{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

section.desciption{
    background-color: rgb(14, 13, 13);
    width: 100%;
    color: #F6F6F6;
    display: flex;
    justify-content:center;
    flex-direction: column;
    height: auto;
    margin-top: 5rem;
}
.content-image img{
    width: 180px;
    justify-content: center;
    margin-top: 80px;
}
.figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.figure-info{
    text-align: center;
}
.desciption-up{
    font-size: 0.8rem;
}
.name{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
}
.figure-info a{
    padding: 7px 25px 7px 25px;
    color: #fff;
    text-decoration: none;
    background: rgb(218, 44, 44);
    border-radius: 10px;

}
.figure-info .text{
    margin-bottom: 30px;
    padding: 0 20px 0 20px;
    text-align: center;
}
.separador{
    height: 70px;
}

.info-chessboard{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.info-chessboard h3{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 30px;
}
.info-chessboard p{
    padding: 0px 20px 0 20px;
    text-align: center;
}
.chessboard .image{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.chessboard .image img{
    width:100%;
}
.chessboard{
    margin-bottom: 40px;
}


footer{
    background-color: rgb(14, 13, 13);
    color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.separador-footer{
    margin-bottom: 40px; 
}
.links ul li{
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
}
.links{
    margin-bottom: 40px;
}
.links ul li a{
    text-decoration: none;
    color: #F6F6F6;
}
.developer{
    margin-bottom: 40px;
}
.developer span {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
}
.developer h2{
    font-size: 0.9rem;
}
@media (min-width: 375px) {
    .chessboard .image img{
        width: 250px;
    } 
}
@media (min-width: 480px) {
    .figure-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .figures img{
        display: flex;
        justify-content: center;
        width: 60%;
        margin: 0 auto;
    }
    .chessboard .image img{
        width: 300px;
    } 
}
@media (min-width: 768px) {     
    .content-image img{
        width: 150px;
    }
    .content-image .wpd{
        margin-top: 20px;
    }
    section.desciption{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }   
    .desciption .figure{
        width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
    .container img{
        top: 40%;
        width: 420px;
        height: 320px;
    }
    .container h1 {
        font-size: 3.5em;
        top: 1%;
    }
    .container h3 {
        font-size: 1.2em;
        top: 17 %;
    }
    .container a {
        padding: 8px 65px 8px 65px;
        margin-top: 0px;
        margin-top: 20px;
        margin-bottom: 50px;
        top: 24%;
    }
}
@media (min-width: 1024px) {
    .figures img{
        width: 40%;
    }
}